@page "/R_Prioridades"
@inject PrioridadesBLL PrioridadesBLL

<EditForm Model="prioridad" OnValidSubmit="Guardar"> 
        <DataAnnotationsValidator/>
    <div class="card">

        <div class="card-header">
            <h1>Registro de prioridades</h1>
        </div>

        <div class="card-body">
            <!-- Para el Id -->
            <label class="form-label">Prioridad Id</label>

            <div id="inputId" class="input-group mb-3">
                <InputNumber @bind-Value="prioridad.PrioridadId" class="form-control"/>
                <div class="input-group-append">
                <button class="btn btn-info" type="button" @onclick= "Buscar"> <span class="oi oi-magnifying-glass"/></button>
            </div>

        </div>

            <!-- Para la desc -->
            <label class="form-label">Descripción</label>
            <InputText @bind-Value="prioridad.Descripcion" class="form-control"/>
            <ValidationMessage For="@(() => prioridad.Descripcion)" />


            <!-- Para la cantidad de dias -->
            <label class="form-label">Dias de compromiso</label>
            <InputNumber @bind-Value="prioridad.DiasCompromiso" class="form-control"/>
            <ValidationMessage For="@(() => prioridad.DiasCompromiso)" />


        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-primary"@onclick="New"><i class="oi oi-file" />Nuevo</button>
            <button type="button" class="btn btn-success" @onclick="Guardar"><i class="oi oi-document" />Guardar</button>
            <button type="button" class="btn btn-danger"@onclick = "Eliminar">Eliminar</button>
        </div>
    </div>

</EditForm>

@code{
    public Prioridades prioridad { get; set; } = new Prioridades();

    void Guardar()
    {
     if(Validar())
        {
        if(PrioridadesBLL.Guardar(prioridad))
            New();
        }

    }

    void Buscar(){

        var prioridadEncontrada = PrioridadesBLL.Buscar(prioridad.PrioridadId);

        if(prioridadEncontrada != null)
        {

            this.prioridad = prioridadEncontrada; 
        }
    }

    void New()
    {
        prioridad = new Prioridades();
    }

    void Eliminar(){
        if (PrioridadesBLL.Eliminar(prioridad)){
            this.New();
        }  
        
    }
    bool Validar()
    {
        return !(String.IsNullOrEmpty(prioridad.Descripcion) ) && prioridad.DiasCompromiso > 0;
    }
}