<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registro de tickets</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="R_Clientes" Match="NavLinkMatch.All">
        <span class="oi oi-list" aria-hidden="true"></span> Registro de clientes
    </NavLink>
</div>        

<div class="nav-item px-3">
    <NavLink class="nav-link" href="RegistroSistemas" Match="NavLinkMatch.All">
        <span class="oi oi-list" aria-hidden="true"></span> Registro de sistemas
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="R_Prioridades" Match="NavLinkMatch.All">
        <span class="oi oi-list" aria-hidden="true"></span> Registro de prioridades
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="ClientesConsultas" Match="NavLinkMatch.All">
        <span class="oi oi-list" aria-hidden="true"></span> Consulta clientes
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="ConsultasSistemas" Match="NavLinkMatch.All">
        <span class="oi oi-list" aria-hidden="true"></span> Consulta sistemas
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="ConsultaPrioridades" Match="NavLinkMatch.All">
        <span class="oi oi-list" aria-hidden="true"></span> Consulta prioridades
    </NavLink>
</div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}